body {
  font-family: 'Helvetica Neue', 'Helvetica', sans-serif;
  color: rgba(20, 20, 20, 255);
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
}

h1 {
  font-size: 48px;
  font-weight: 500;
}
